# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# MacOS .DS_Store
.DS_Store

# Log files
**/*.log

# Flask stuff:
instance/
.webassets-cache

# pyenv
.python-version

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Automated workflows
.github/